@{
    ViewBag.Title = "Coming Soon";
}
<div class="container-fluid h-100 overflow-y">
    <div class="row flex-row h-100">
        <div class="col-12 my-auto">
            <div class="coming-soon mx-auto">
                <div class="logo-centered">
                    <a href="db-default.html">
                        <img src="~/Content/Images/vu.png" alt="logo">
                    </a>
                </div>
                <h1>In <span>Progress</span></h1>
                <h3>Your account will be activated within 24 hours</h3>
                <br />
                <a href="/Account/SignIn" class="btn btn-lg btn-gradient-01">Sign in</a>
                <div class="notify-form">
                    <div class="heading">
                        In case of any issue please contact us
                        <br />
                        <b>maham@vusolutions.org</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>