@{
    ViewBag.Title = "Sorry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
        .preload {
            text-align: center;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <div class="content-inner compact">
        <div class="container-fluid">
            <div class="row flex-row">
                <div class="col-xl-12">
                    <div class="widget has-shadow">
                        <div class="widget-body">
                            <div class="preload">
                                <p style="font-size:150px;color:#252946;">
                                    Sorry
                                </p>
                                <hr style="color:#252946" />
                                <span style="color:#252946">
                                    Salary Slips Already Created Between these dates,Just Print Out...<a href="~/Salary/SalaryList" style="color:blue;text-decoration:underline">SalaryList</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>